@keyframes slideDown {
    0% {
      max-height: 0;
      opacity: 0;
    }
    100% {
      max-height: 200px; /* Adjust the value to fit your content */
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    0% {
      max-height: 200px; /* Adjust the value to fit your content */
      opacity: 1;
    }
    100% {
      display: none;
      padding: 0 0;
      max-height: 0;
      opacity: 0;
    }
  }
  
  .parent_link {
    border-bottom: none !important;
    cursor: pointer;
  }
  
  .chevron_up {
    transform: rotate(180deg);
    transition: 0.2s linear;
  }
  
  .chevron_down {
    transition: 0.2s linear;
  }
  
  .nested_drawer {
    overflow: hidden;
    max-height: 0;
    animation: 0.3s ease-out forwards;
  }
  
  .nested_drawer_open {
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    margin-left: 5px;
    padding-top: 40px;
  
    animation-name: slideDown;
  }
  
  .nested_drawer_open li {
    width: 50%;
    font-size: 0.8rem;
    color: #515151;
    border-bottom: none !important;
  }
  
  
  
  .nested_drawer_closed {
    animation-name: slideUp;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    font-size: 0.8rem;
  
    margin-left: 5px;
    padding-top: 40px;
  }
  
  .nested_drawer_closed li {
    font-size: 0.9rem;
    border-bottom: none !important;
  }
  
  .plus_minus {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .plus_minus::before,
  .plus_minus::after {
    content: "";
    position: absolute;
    background-color: #000;
    top: calc(50% - 2px);
    left: 10%;
    right: 10%;
    height: 4px;
    border-radius: 2px;
    transition: transform 0.3s ease;
  }
  
  .plus_minus::before {
    transform: rotate(0);
  }
  
  .plus_minus::after {
    transform: rotate(90deg);
  }
  
  .plus_minus.minus::before {
    transform: rotate(45deg);
  }
  
  .plus_minus.minus::after {
    transform: rotate(-45deg);
  }